.card {
    width: 22rem;
    background-color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
    background-color: #f8f9fa; /* very light gray */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06); /* subtle depth */
}

.row1 {
height: 8rem;
align-items: center;
}

.row1wrapper {
    width: 100%;
    height: 90%;
}

.row1left {
    padding-left: 1rem;
}

p {
    margin: 0;
    font-size: 1rem;
}

.pleft {
    color: #969696;
    font-weight: lighter;
}

h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.icon {
    width: 1rem;
    margin-right: .5rem;
}

.event-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 95%;
  height: 300px; /* or whatever height you want */
  border-radius: 10px;
}



.btn-left-corner {
  border-radius: 0px 0px 0px 10px; /* top-left only */
  width: 50%;
}

.btn-right-corner {
  border-radius: 0px 0px 10px 0px; /* top-right only */
  width: 50%;
}