.calendar {
    border : 1px solid black;
    border-radius: 10px;
    width: 100%;
}

.calendar-wrapper {
  position: relative;
  width: 100%;
  padding-top: 75%; /* 600 / 800 = 0.75 = 75% */
  overflow: hidden;
}

.calendar-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}